@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* General Styles & Resets */

* {
    box-sizing: border-box;
}


/* Layout & Appearance */

.mainContainer {
    width: 80vw;
    margin: 0 auto;
}

.taskOne .container div {
    border: 1px dashed #333;
    font-size: 4rem;
    text-align: center;
}

.taskOne .container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 20px;
}

.taskTwo .container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
}

.taskThree .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    gap: 20px;
}

.item1 {
    grid-row: 1 / 3;
    background-color: rgb(257, 87, 20);
}

.item2 {
    grid-row: 1 / 2;
    background-color: rgba(232, 170, 20, 0.5);
}

#firstChild {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #D1495B;
}

#secondChild {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #00798C;
}

#thirdChild {
    grid-area: 2 / 1 / 3 / 3;
    background-color: #EDAE49;
}

#fourthChild {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #30638E;
}


/*Typography */

body {
    font-family: 'Lato', sans-serif;
}


/* Challenges Adapted from https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grid_skills */